# ===== 编译产物（能重新生成，不进仓库）=====
build/
build-release/
build-release.zip
*.exe
*.dll
*.o
*.obj

# ===== 运行时数据（程序自动生成）=====
campus.db
*.db

# ===== IDE / 编辑器临时文件 =====
.vscode/
.idea/
*.user

# ===== 系统垃圾文件 =====
Thumbs.db
Desktop.ini
.DS_Store
.qtcreator/
